<!--<div class="list-group"> 

    <a class="list-group-item list-group-item-action" href="@Url.Action("Dashboard","Customer")">Dashboard</a> 

    <a class="list-group-item list-group-item-action" href="@Url.Action("Profile","Customer")">Profile</a> 

    <a class="list-group-item list-group-item-action" href="@Url.Action("BuyPolicy","Customer")">Buy Policy</a> 

    <a class="list-group-item list-group-item-action" href="@Url.Action("FileClaim","Customer")">File Claim</a> 

    <a class="list-group-item list-group-item-action text-danger" href="@Url.Action("Index","Home")">Logout</a> 

</div> -->
<div class="sidebar bg-dark vh-100">
<nav class="nav flex-column">
  <a class="nav-link text-white px-3" href="/Customer/Dashboard">Dashboard</a>
  <a class="nav-link  text-white px-3" href="/Customer/Profile">Profile</a>
  <a class="nav-link text-white px-3" href="/Customer/BuyPolicy">Policies</a>
  <a class="nav-link text-white px-3" href="/Customer/MyClaimsHistory">My Claims</a>
  <a class="nav-link text-white px-3" href="/Home/Index">Logout</a>
</nav>
</div>